h3 {
    color: darkblue;
  }
  
  body {
    padding: 2.5%;
  }
  
  p {
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 30px;
  }
  
  footer {
    color: darkblue;
    text-align: left;
    padding: 25px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
    justify-content: center;
  }
  
  .border {
    text-align: center;
    color: darkblue;
    border-style: outset;
    padding: 25px;
  }
  
  .grid-item {
    border-style: outset;
  }
  
  .hover:hover {
    background: darkblue;
    color: lightblue;
    transition: all 0.5s ease-out;
  }
  
  .name:hover {
    background: darkblue;
    color: lightblue;
    transition: all 0.5s ease-out;
    animation: slide-transform 15s infinite;
  }
  
  @media (min-width: 600px) {
    p {
      font-size: 1rem;
    }
  }
  
  .animated-div {
    text-align: center;
    width: 65px;
    height: 40px;
    background-color: darkblue;
    COLOR: lightblue;
    animation: slide-transform 15s infinite;
  }
  
  @keyframes slide-transform {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(80vw);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
    @media (min-width: 600px) {
      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
